<!-- home page -->

    <header class="masthead" id="page-top">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Wanderlust</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">All that is gold does not glitter,
                    Not all those who wander are lost.</h2>
                <div class="form-inline d-flex">
                    <input type="text" class="form-control-lg flex-fill" id="place" name="continent" id="continent" placeholder="Where?">&nbsp;
                    <button class="btn btn-primary mx-auto">Search</button>
                </div>
            </div>
        </div>
    </header>

      