<div class="container container-styles">
	<div class="col-md-9">
		<div class="card">
			<div class="card-header bg bg-primary">
			<h5>Login</h5>	
			</div>
			<div class="card-body">
				<form #loginForm="ngForm">
					<div class="form-group row">
						<label for="name" class="col-sm-3 col-3 col-form-label">Mobile Number</label>
						<div class="col-sm-9">
							<input type="number" class="form-control" name="mobilenumber" [(ngModel)]="login.mobilenumber"
								#username="ngModel" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-3 col-4 col-form-label">Password</label>
						<div class="col-sm-9">
							<input type="password" class="form-control" name="password" #password="ngModel"
								[(ngModel)]="login.password" required>
						</div>
					</div>

					<div *ngIf="!valid" class="text-danger">Invalid Credentials...Please try again...</div>
					<br />

					<div class="form-group row">
						<span class="col-sm-4 col-4"></span>
						<div class="col-sm-3 col-3">
							<button (click)="onSubmit()" class="btn btn-primary"
								[disabled]="!loginForm.form.valid">Login</button></div>
						<div>
							<button (click)="register()" class="btn btn-primary">Register</button>
						</div>

					</div>
				</form>
			</div>

		</div>
	</div>
</div>